*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#000;

overflow:hidden;

}



/* 黑色空间 */


.space{

width:100vw;

height:100vh;

position:relative;

perspective:1500px;

transform-style:preserve-3d;

}



/* 杂志 */


.mag{

position:absolute;

width:260px;

cursor:pointer;

opacity:0;


animation:
appear 2s forwards;


transform-style:preserve-3d;


transition:
transform 0.8s,
filter 0.8s;


}



.mag img{


width:100%;


display:block;


box-shadow:

0 40px 100px rgba(0,0,0,.8);


}



/* 出现 */


@keyframes appear{


0%{

opacity:0;

transform:

translateZ(-800px)
scale(.2)
rotateY(90deg);

}


100%{

opacity:1;

}

}



/* 六本空间位置 */


.cover01{

left:12%;

top:25%;


transform:

rotateY(35deg)
rotateZ(-15deg);


animation-delay:.2s;

}



.cover02{

left:38%;

top:12%;


transform:

rotateY(-25deg)
rotateZ(10deg);


animation-delay:.4s;

}



.cover03{


right:12%;

top:20%;


transform:

rotateY(-35deg)
rotateZ(15deg);


animation-delay:.6s;

}



.cover04{


right:15%;

bottom:18%;


transform:

rotateY(30deg)
rotateZ(-15deg);


animation-delay:.8s;

}



.cover05{


left:35%;

bottom:12%;


transform:

rotateY(25deg)
rotateZ(12deg);


animation-delay:1s;

}



.cover06{


left:45%;

top:40%;


z-index:10;


transform:

rotateY(-15deg);


animation-delay:1.2s;

}




/* hover悬浮 */


.mag:hover{


transform:

translateZ(250px)

scale(1.15)

rotateY(0deg);


filter:

brightness(1.2);


z-index:20;

}



/* 点击展开 */


.open{


animation:none;


position:absolute;


left:50%;

top:50%;


transform:

translate(-50%,-50%)

scale(4)

rotateY(0deg);


z-index:100;


}




.fade{


opacity:0;

transition:1s;

}